<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15.78287"
    height="17.43494" viewBox="0,0,15.78287,17.43494">
    <g transform="translate(-232.26389,-171.28253)">
        <g data-paper-data="{&quot;isPaintingLayer&quot;:true}" fill="none" fill-rule="nonzero" stroke="#575e75"
            stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
            stroke-dashoffset="0" style="mix-blend-mode: normal">
            <path d="M233.01389,177.23728h7.0654v-4.14409l6.90681,6.90681l-6.90681,6.90681v-4.14409h-7.0654z" />
        </g>
    </g>
</svg><!--rotationCenter:7.736106250000006:8.717470483723446-->